<!--<div class="row">-->
  <!--<div class=" col-md-12 col-md-offset-5">-->
    <!--<div class="row">-->
      <!--<div class="col-md-2">-->
        <!--<label>BPR Date</label>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<label>Site</label>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<label class="col-md-1">Date</label>-->
      <!--<div class="col-md-3">-->
        <!--<input class="form-control" [(ngModel)]="selectedDate" (change)="refresh()" type="date"/>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<select class="form-control" [(ngModel)]="site">-->
          <!--<option value="cz">Cortez</option>-->
          <!--<option value="gs">Gold Strike</option>-->
        <!--</select>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="form-group col-md-3">
  <label>Date</label>
  <input class="form-control" type="date" value="{{selectedDate}}" [(ngModel)]="selectedDate" (change)="refresh()" />
</div>

<div class="form-group col-md-3">
  <label>Site</label>
  <select class="form-control" [(ngModel)]="site" (change)="refresh()">
    <option value="cz">Cortez</option>
    <option value="gs">Gold Strike</option>
  </select>
</div>

<div class="row margin-top-15">
  <div class="col-md-12">
    <ngx-loading [show]="loading"></ngx-loading>
    <table class="table table-striped table-hover">
      <tr>
        <th>Metric</th>
        <th>Unit</th>
        <th>Daily Value</th>
        <th>Week To Date</th>
        <th>Month To Date</th>
      </tr>
      <tr *ngFor="let metric of metrics">
        <td>{{metric.name}}</td>
        <td>{{metric.unit}}</td>
        <td>{{metric.dailyValue}}</td>
        <td>{{metric.weekToDateValue}}</td>
        <td>{{metric.monthToDateValue}}</td>
      </tr>
    </table>
    <div class="center-block">
      <p class="not-found" *ngIf="!metrics || metrics.length == 0">No data was found for {{selectedDate}}</p>
    </div>
  </div>
</div>
